## Lab 5,6

In [75]:
import sqlite3
con = sqlite3.connect("phones.db")
cur = con.cursor()

In [76]:
from enum import Enum
class Country(Enum):
    UA = 'Ukraine'
    US = 'United States'
    DE = 'Germany'
    BR = 'Brazil'
    IN = 'India'

    @classmethod
    def valueTuples(self):
        """Get a list of all values in an enum.
        Note that we wrap values in single-element tuples (el,)
        so that to feed it into 'INSERT' statement.
        """
        return [(e.value,) for e in Country]

    @classmethod
    def createTable(self):
        """This function does two things. First, creates a l_platforms table.
        Second, insert predefined values into the table. This is where we use
        the valueTuples method from above.
        Note the con.commit() call - it's necessary whenever we make changes to a table
        """ 
        cur.execute('CREATE TABLE IF NOT EXISTS l_countrys (country TEXT PRIMARY KEY)')
        # Invoke executemany to insert multiple values at once
        cur.executemany('INSERT INTO l_countrys VALUES(?)', Country.valueTuples())
        con.commit()

    @classmethod
    def removeTable(self):
        """Method for dropping a table. Useful for debugging.
        """
        cur.execute('DROP TABLE IF EXISTS l_countrys')
        con.commit()
        
    @classmethod
    def getAll(self):
        """Fetch all records from l_countrys table.
        Note that we convert result tuples back to strings - 
        it's a reverse operation to the one we did in valueTuples() method.
        """
        cur.execute('SELECT * FROM l_countrys')
        res = cur.fetchall()
        # Convert tuples in sqlResult to strings and then to enums
        return res

Let's test it. Create `l_platforms` table:

In [77]:
Country.removeTable()
Country.createTable()

Check if platform values have been inserted:

In [78]:
Country.getAll()

[('Ukraine',), ('United States',), ('Germany',), ('Brazil',), ('India',)]

In [79]:
class Genre(Enum):
    ACTION = "Action"
    COMEDY = "Comedy"
    DRAMA = "Drama"
    HORROR = "Horror"
    ROMANCE = "Romance"
    THRILLER = "Thriller"
    FATNTASY = 'Fantasy'

    @classmethod
    def valueTuples(self):
        """Get a list of all values in an enum.
        Note that we wrap values in single-element tuples (el,)
        so that to feed it into 'INSERT' statement.
        """
        return [(e.value,) for e in Genre]

    @classmethod
    def createTable(self):
        """This function does two things. First, creates a l_markets table.
        Second, insert predefined values into the table. This is where we use
        the valueTuples method from above.
        Note the con.commit() call - it's necessary whenever we make changes to a table
        """ 
        cur.execute('CREATE TABLE IF NOT EXISTS l_markets (market text)')
        cur.executemany('INSERT INTO l_markets VALUES(?)', Genre.valueTuples())
        con.commit()

    @classmethod
    def removeTable(self):
        """Method for dropping a table. Useful for debugging.
        """
        cur.execute('DROP TABLE IF EXISTS l_markets')
        con.commit()
        
    @classmethod
    def getAll(self):
        """Fetch all records from l_markets table.
        Note that we convert result tuples back to strings - 
        it's a reverse operation to the one we did in valueTuples() method.
        """
        cur.execute('SELECT * FROM l_markets')
        sqlResult = cur.fetchall()
        # Convert tuples in sqlResult to strings and then to enums
        return [Genre(p[0]) for p in sqlResult]

It's very similar to the `Platform` enum above.

Let's verify that it works properly.

In [80]:
Genre.removeTable()
Genre.createTable()
Genre.getAll()

[<Genre.ACTION: 'Action'>,
 <Genre.COMEDY: 'Comedy'>,
 <Genre.DRAMA: 'Drama'>,
 <Genre.HORROR: 'Horror'>,
 <Genre.ROMANCE: 'Romance'>,
 <Genre.THRILLER: 'Thriller'>,
 <Genre.FATNTASY: 'Fantasy'>]

In [81]:
class Director:
    def __init__(self, name, birth_year, country):
        self.name = name
        self.birth_year = birth_year
        self.country = country

In [82]:

class Movie:
    def __init__(self, title: str, country: Country, release_date: int, director: Director, genre: Genre, reception: float = None):
        self.title = title
        self.release_date = release_date
        self.director = director
        self.genre = genre
        self.reception = reception
        self.country = country

    def __repr__(self):
        return f"{self.title} ({self.release_date}) - Directed by {self.director.name}, Genre: {self.genre.value}, Reception: {self.reception}%, Country: {self.country}"
    
    
    @classmethod
    def removeTable(self):
        """Method for dropping a table. Useful for debugging.
        """
        cur.execute('DROP TABLE IF EXISTS MOVIES')
        con.commit()
        
    @staticmethod
    def connect():
        conn = sqlite3.connect("movies.db")
        return conn

    @staticmethod
    def create_table():
        conn = Movie.connect()
        c = conn.cursor()
        c.execute('''CREATE TABLE IF NOT EXISTS MOVIES
                     (TITLE TEXT, DIRECTOR TEXT, GENRE TEXT, YEAR INTEGER, RATING REAL, COUNTRY TEXT)''')
        conn.commit()
        conn.close()

    def insert_record(self):
        conn = Movie.connect()
        c = conn.cursor()
        c.execute("INSERT INTO MOVIES VALUES (?, ?, ?, ?, ?, ?)", (self.title, self.director.name,self.genre.value , self.release_date,  self.reception, self.country.value))
        conn.commit()
        conn.close()

    @staticmethod
    def select_all():
        conn = Movie.connect()
        c = conn.cursor()
        c.execute("SELECT * FROM MOVIES")
        rows = c.fetchall()
        conn.close()
        return rows

    @staticmethod
    def update_record(title, reception):
        conn = Movie.connect()
        c = conn.cursor()
        c.execute("UPDATE MOVIES SET RATING = ? WHERE TITLE = ?", (reception, title))
        conn.commit()
        conn.close()

    @staticmethod
    def delete_record(title):
        conn = Movie.connect()
        c = conn.cursor()
        c.execute("DELETE FROM MOVIES WHERE TITLE = ?", (title,))
        conn.commit()
        conn.close()

In [83]:
Movie.create_table()

In [84]:
director = Director("Steven Spielberg",233,'fgg')
movie = Movie("Jurassic Park", Country.US, 1993, director, Genre.ACTION, 87, )

movie.insert_record()
movie.select_all()

[('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States'),
 ('Jurassic Park', 'Steven Spielberg', 'Action', 1993, 87.0, 'United States')]

## Lab 7,8

In [85]:
class Director:
    def __init__(self, name, birth_year, country):
        self.name = name
        self.birth_year = birth_year
        self.country = country

    @classmethod
    def createTable(self):
        cur.execute('''CREATE TABLE IF NOT EXISTS directors (
                        name TEXT PRIMARY KEY,
                        birth_year INT,
                        country TEXT
                        )''')
        con.commit()

    @classmethod
    def removeTable(self):
        cur.execute('DROP TABLE IF EXISTS directors')
        con.commit()

    def insert(self):
        cur.execute('''INSERT INTO directors VALUES(?,?,?)''', (self.name, self.birth_year, self.country.value))
        con.commit()

    def update(self):
        cur.execute('''UPDATE directors SET birth_year=?, country=? WHERE name=?''', (self.birth_year, self.country.value, self.name))
        con.commit() 

    
    @classmethod
    def getAll(self):
        cur.execute('SELECT * FROM directors')
        res = cur.fetchall()
        return res

    def __str__(self):
        return "(%s, %s, %s)" % (self.name, self.birth_year, self.country.value)

Now we check how it works.

In [86]:
Director.removeTable()
Director.createTable()

In [87]:
director = Director("Steven Spielberg",233,Country.US)

director.insert()

In [88]:
Director.getAll()

[('Steven Spielberg', 233, 'United States')]